@import "assets";
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;800&display=swap');

$body-color: red;

html {
    font-size: 100%;
    overflow-x: visible;
    overflow-y: visible;
}
html, button, input, select, textarea {
    font-family: 'Noto Serif JP','游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', serif;
    letter-spacing: 1px;
}
body {
    display: block;
    color: #141421;
    line-height: 1.5;
    margin: 0;

}
